<ul>
  <%@files.each do |file|%>
    <li>
      <a href="/<%=file%>"><%=file%></a>
      <a href="/<%=file%>/edit">Edit <%=file%></a>
      <form class="inline" method="post" action="/<%=file%>/delete">
        <button type="delete">delete</button>
      </form>
    </li>
  <%end%>
</ul>
<p><a href="/new">New Document</a></p>